* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #051619;
    --secondary-color: #1d7874;
    --detail-color: #679289;
    --peach: #f4c095;
}
body {
    background-color: var(--main-bg-color);
}
