.navbar {
    background-color: var(--detail-color);
    display: flex;
    height: 40px;
    border-bottom: 4px solid var(--secondary-color);
    justify-content: space-between;
    padding: 5px 5px 0 5px;
    font-family: sans-serif;
}
.navlinks img {
    padding-right: 5px;
}
